// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$color1: #8ef9f1;
$color2: #4bead2;
$color3: #f0f0f0;
$color4: #eaa7a1;
$color5: #171717;

body{
    background-image: linear-gradient(to bottom right,#eaa7a1,#4bead2);
    height: 10000px;
    color:  #171717;
    margin: 0px;
}
/*navbar*/
.navbar{
    margin: 0px;
    padding: 20px 0px;
    background-color:#f0f0f0;
    color: #171717; 
    opacity: 0.8; 
}

.nav-link:hover{
    color: #17171763;
    text-decoration: none;
}

.nav-link{
    color: #171717;
    padding: 0 10px
}

nav a{
    text-decoration: none;
    color:#171717;
    display: inline-block;
    text-align: center; 
    margin: 0 45px;
    height: 100%;
}
nav a:hover {
    columns: #171717;
}
.right{
    float: right;
}  

//header
.welcome{
    text-align: center;
    font-size: 50px;
    color: $color2;
    font-weight: 500;
    
   
}
.container{
    width: 40%;
    margin: 20px auto;
}
