// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    background-image: linear-gradient(to bottom right,#eaa7a1,#4bead2);
    height: 10000px;
    color:  #f0f0f0;
    margin: 0px;
}
/*navbar*/
.navbar{
    margin: 0px;
    background-color:#4bead2;
    color: #f0f0f0; 
    opacity: 0.8; 
}
.navbar-brand:hover{
    color: #f0f0f0;
}
.nav-link:hover{
    color: #f0f0f0;
    text-decoration: none;
}

.nav-link{
    color: #f0f0f0;
    padding: 0 10px
}

nav a{
    text-decoration: none;
    color:#f0f0f0;
    display: inline-block;
    text-align: center; 
    margin: 0 45px;
    height: 100%;
}
nav a:hover {
    color:#f0f0f0;
}
.right{
    float: right;
}  

//header
.welcome{
    text-align: center;
    font-size: 50px;
    color: $color2;
    font-weight: 500;
    
   
}
.container{
    width: 40%;
    margin: 20px auto;
}
body,html{
    height: 100%;
    margin: 0;
    background: $datblue;
    background: -webkit-linear-gradient(to bottom right,  $datpink, $datblue);
    background: linear-gradient(to bottom right, $datpink, $datblue);
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: $blackbg !important;
}

.chatcard{
    margin-top: 30px;
}

.msg_card_body{
    overflow-y: auto;
}

.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}

.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: $datpink !important;
    border:0 !important;
    color: $datbeige !important;
    cursor: pointer;
}


.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid $datbeige;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid $datbeige;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}

.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}

.user_info span{
    font-size: 20px;
    color: $datbeige;
}
.user_info p{
font-size: 10px;
color: $datbeige;
}

.msg_cotainer{
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color:$datblue;
padding: 10px;
position: relative;
color:#000000;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: $datpink;
padding: 10px;
position: relative;
color: #000000;
}

.msg_head{
position: relative;
}

@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}
